@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}
:root {
    /* الألوان الأساسية */
    --primary-blue: #6185f8;
    --primary-brown: #954b0c;
    --secondary-brown: #684632;
  
    /* الألوان الثانوية */
    --primary-green: #138200;
    --secondary-green: #73f218;
    --highlight-yellow: #eeaf36;
    --accent-violet: #645f89;
  
    /* ألوان التفاعل */
    --hover-olive: #716804;
    --dark-green: #043717;
    --warning-orange: #672504;
  
    /* ألوان النصوص */
    --text-light: #ffffff;
    --text-dark: #000000;
}

body {
    background-image: url('./assets/Game cards/mainBG.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 100vh;
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
header{
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    padding: 0.93rem;
    justify-content: space-between;
    align-items: center;
}
i.volume-icon{
    font-size: 24px;
}
i.volume-icon:hover{
    cursor: pointer;
}
i.volume-icon{
    font-size: 24px;
}
i.volume-icon:hover{
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
    color: var(--text-light);
    padding: 0.3rem;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
}
main.grid-container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 33rem;
    width: 50rem;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

main.grid-container> div {
    align-self: center;
    margin: auto;
}
main > div > img{
    width: 3.75rem;
}
  
.card {
    width: 75px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 0.6s; 
    cursor: pointer;
}


.card .front-face,
.card .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 10px; 
}


.card .front-face {
    transform: rotateY(180deg); 
}


.card.flipped {
    transform: rotateY(180deg); 
}


#winMessage {
    margin-top: 200px;
    font-size: 20px;
    font-family: "Press Start 2P", serif;
    background-color: white;
    font-weight: 600;
}



div#start-game{
    background-image: url('assets/Game cards/menu.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 100%;
    z-index: 10000;
    position: fixed;
    text-align: center;
    width: 100%;
}
div#start-game > div > ul > li {
    color: var(--text-light);
    margin-top: 30px;
}
div#start-game > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div#start-game > div > p {
    margin-top: 15px;
    color: yellow;
    font-family: "Press Start 2P", serif;
     line-height: 30px;
}

div#start-game > div > div > p {
    margin-top: 15px;
  
}

.popup-content > .first-p , .good-luck-p{
 width: 75%;
}
div#start-game > div >  .left{
    margin-top: 10px;
    color: var(--text-light);
    font-weight: bold;
}

div#start-game > div >  .left > #easy {
    margin-top: 20px;
    font-weight: bold;

    color: white;
    background-color: var(--primary-blue);
    border: 0.5 solid black;
    border-radius: 5px;
    padding: 10px;
}
div#start-game > div >  .left > #medium {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-blue);
    border: 0.5 solid black;
    border-radius: 5px;
    padding: 10px;
}
div#start-game > div >  .left > #hard {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-blue);
    border: 0.5 solid black;
    border-radius: 5px;
    padding: 10px;
  
}

h1 {
    border-radius: 12px;
    padding: 20px 30px;
    background-color: var(--primary-brown);
    color: var(--highlight-yellow);
    font-weight: bold;
    margin-top: 20px;
}
#start-button {
    margin-top: 20px;
    background-color:var(--primary-blue);
    text-align: center;
    width: 200px;
    color: white;
    border-radius: 12px;
    padding: 10px ;
}

#start-button:hover {
    background-color: white;
    color: black;
    width: 240px;
    
}

div#start-game > div >  .left > #hard:hover ,
div#start-game > div > .left > #medium:hover,
div#start-game > div > .left > #easy:hover {
    background-color: white;
    color: var(--primary-blue);
}

/* For tablets (width : 768px) */
@media (max-width: 768px) {
    main.grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
    }
    .card {
        width: 80px;
        height: 120px;
    }
}

/* For mobile phones (width : 480px) */
@media (max-width: 480px) {
    main.grid-container {
        grid-template-columns: 1fr;
    }
    .card {
        width: 60px;
        height: 100px;
    }
}


